@tailwind base;
a {
	@apply text-primary;
}
a:hover {
	@apply text-primary-darker;
}
.visua-process {
	height: 0px;
}
#product {
	background-size: 100%;
}

@media (min-width: 360px) {
	.visua-process {
		height: 210px;
	}
}
@media (min-width: 420px) {
	.visua-process {
		height: 240px;
	}
}
@media (min-width: 480px) {
	.visua-process {
		height: 270px;
	}
	#product {
		background-size: 85%;
	}
}
@media (min-width: 560px) {
	.visua-process {
		height: 280px;
	}
}
@media (min-width: 640px) {
	.visua-process {
		height: 320px;
	}
}
@media (min-width: 786px) {
	.visua-process {
		height: 400px;
	}
}
@media (min-width: 1025px) {
	#product {
		background-size: 65%;
	}
}

@tailwind components;
@tailwind utilities;
